---
import { educations } from '../data/educations';
---

<section id="education">
  <h2 class="title">Education</h2>
  <p class="subtitle">I'm still pursuing my Computer Engineering degree for now.</p>
  <div class="timeline-wrapper">
    <ul class="timeline">
      {educations.map((e) => (
        <li class="timeline-item">
          <h3>{e.name}</h3>
          <div class="timeline-date">{e.date}</div>
          <p class="timeline-description">{e.description}</p>
        </li>
      ))}
    </ul>
  </div>
</section>
