---
const educations = [
  {
    name: 'Universitas Diponegoro',
    date: '2020 - Now',
    description:
      'Computer Engineering - During this time I began learning programming languages and excited to explore fascinating subjects that will help shape my future.',
  },
  {
    name: 'SMA Negeri 6 Semarang',
    date: '2017 - 2020',
    description:
      'Math and Science - In high school, I opted for the math and science path, driven by my interest in pursuing a computer-related degree at the university level.',
  },
];
---

<section>
  <h2>Education 📚</h2>
  <div class="timeline-wrapper">
    <ul class="timeline">
      {
        educations.map((education) => (
          <li class="timeline-item">
            <h3>{education.name}</h3>
            <div class="timeline-date">{education.date}</div>
            <p class="timeline-description">{education.description}</p>
          </li>
        ))
      }
    </ul>
  </div>
</section>
