<section>
  <h2>Experience</h2>
  <div class="timeline-wrapper">
    <ul class="timeline">
      <li class="timeline-item">
        <h3>CV Nore Inovasi</h3>
        <div class="timeline-date">December 2022 - March 2023</div>
        <p class="timeline-description">
          Internship - I worked as a Backend Developer, creating a REST API
          using Node.js and some other things. Additionally, I learned about
          microservices concepts and implemented certain aspect like decoupling
          the services.
        </p>
      </li>
    </ul>
  </div>
</section>

<style is:global>
  .timeline-wrapper {
    padding-left: 1rem;
  }

  .timeline {
    border-left: 1px solid var(--timeline-color);
    padding: 2rem 0;
    list-style: none;
  }

  .timeline-item {
    position: relative;
    padding-left: 2rem;
  }

  .timeline-item:not(:first-child) {
    margin-top: 1rem;
  }

  .timeline-item::before {
    content: '';
    position: absolute;
    left: 0;
    transform: translate(-50%, 62.5%);
    width: 0.5rem;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: var(--timeline-color);
    outline: 0.25rem solid var(--timeline-color-500);
  }

  .timeline-date {
    font-size: 0.85rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }
</style>
