---
import { experiences } from "../data/experiences"
---

<section id="experience">
  <h2 class="title">Experience</h2>
  <p class="subtitle">A glimpse of my work experience.</p>
  <div class="timeline-wrapper">
    <ul class="timeline">
      {experiences.map((experience) => (
        <li class="timeline-item">
          <h3>{experience.place}</h3>
          <div class="timeline-date">{experience.date}</div>
          <p class="timeline-description">{experience.description}</p>
        </li>
      ))}
    </ul>
  </div>
</section>

<style is:global>
  .timeline-wrapper {
    padding-left: 1rem;
    margin-top: 2rem;
  }

  .timeline {
    border-left: 1px solid hsl(var(--accent));
    padding: 2rem 0;
    list-style: none;
  }

  .timeline-item {
    position: relative;
    padding-left: 2rem;
  }

  .timeline-item:not(:first-child) {
    margin-top: 1rem;
  }

  .timeline-item::before {
    content: '';
    position: absolute;
    left: 0;
    transform: translate(-50%, 62.5%);
    width: 0.5rem;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: hsl(var(--accent));
    outline: 0.25rem solid hsl(var(--accent) / .5);
  }

  .timeline-date {
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
    text-transform: uppercase;
    color: hsl(var(--primary));
    font-weight: 700;
  }

  [data-theme='dark'] .timeline-date {
    color: hsl(var(--accent));
  }
</style>
