---
const year = new Date().getFullYear();
---

<footer>
  <div class="wrapper">
    <p>Copyright &#169; 2023 - {year} &#183; Ahmad Miftachul Hidayat</p>
    <p>Built with <a href="https://astro.build/" target="_blank" rel="noopener noreferrer"><strong>Astro</strong></a></p>
  </div>
</footer>

<style>
  footer {
    color: hsl(var(--card-foreground));
    text-align: center;
  }

  .wrapper {
    padding-block: 1rem;
  }
</style>
