<section>
  <div class="content">
    <h1>Hi, I'm <span class="name">Miftah</span></h1>
    <p>
      I'm a Computer Engineering student at Diponegoro University with a strong
      passion for web development. I primarily use JavaScript technology for my
      projects. However, I'm excited to explore and learn about other
      technologies that can enhance my skills.
    </p>
  </div>
</section>

<style>
  section {
    padding-top: 1rem;
  }

  h1 {
    margin-bottom: 1rem;
  }

  .name {
    color: var(--accent-color);
  }
</style>
