---
import { icons } from '../data/icons';
---

<section>
  <h2>Skills and Technologies 💻</h2>
  <div class="skills">
    {
      icons.map((icon) => {
        return (
          <div class="icon">
            <Fragment set:html={icon.file} />
            <p>{icon.title}</p>
          </div>
        );
      })
    }
  </div>
</section>

<style>
  .skills {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap: 1rem;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    height: 100px;
    background-color: var(--item-bg);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    user-select: none;
    transition: transform 0.25s ease;
  }

  .icon:hover {
    transform: scale(1.05);
  }

  p {
    font-size: 14px;
  }
</style>
