---
import { icons } from '../data/icons';
---

<section id="skills">
  <h2 class="title">Skills</h2>
  <p class="subtitle">Programming languages, frameworks, and tools that I've used.</p>
  <div class="skills">
    {icons.map((icon) => (
      <div class="icon">
        <Fragment set:html={icon.file} />
        <span>{icon.title}</span>
      </div>
    ))}
  </div>
</section>

<style>
  .skills {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    height: 6.25rem;
    background: hsl(var(--card));
    border: 1px solid hsl(var(--border));
    border-radius: var(--radius);
    user-select: none;
    transition: transform 0.25s ease;
  }

  .icon:hover {
    transform: scale(1.05);
  }

  span {
    font-size: 0.875rem;
  }
</style>
